#include "env.h"

const char* env_ssid = "SSID"; // The SSID (name) of the Wi-Fi network you want to connect to
const char* env_password = "PASSWORD";  // The password of the Wi-Fi network
const char* env_api_server_base_url = "http://some_url";  // Base url of the API
const char* env_api_sha1_fingerprint = "2F 2A BB 23 6B 03 89 76 E6 4C B8 36 E4 A6 BF 84 3D DA D3 9F";  // sha1 fingerprint of the cert